<% layout("/layouts/boilerplate") %>


<div class="row apod-result">
  <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 mt-3 mt-md-4 text-center">
    <h3 class="h4"><b><%= data.title %></b></h3>
  </div>

  <div class="card col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 mt-3 shadow-sm p-0">
    <% if (data.media_type === "image") { %>
      <img src="<%= data.url %>" class="apod-img card-img-top img-fluid mx-auto d-block" alt="NASA APOD Image">
    <% } else if (data.media_type === "video") { %>
      <div class="ratio ratio-16x9">
        <iframe src="<%= data.url %>" frameborder="0" allowfullscreen></iframe>
      </div>
    <% } else { %>
      <p class="text-center">Media not available.</p>
    <% } %>

    <div class="card-body text-start p-3 p-md-4">
      <p class="card-text"><%= data.explanation %></p>
      <p class="text-muted mb-0">Date: <%= data.date %></p>
    </div>
  </div>

  <div class="text-center mt-4 mb-4">
    <a href="/apod" class="btn btn-primary">â† Back</a>
  </div>
</div>
